{{extend 'layout.html'}}

<h1>Edit Final Dispositions</h1>

<div class="container ">
    <div class="row" style="border-bottom: 1px black solid;">

        <div class="col-sm-3" style="vertical-align: middle; font-weight: bold; font-size: larger;">
            Model
        </div>
        <div class="col-sm-6" style="vertical-align: middle; font-weight: bold; font-size: larger;">
            Disposition
        </div>
        <div class="col-sm-2" style="vertical-align: middle; font-weight: bold; font-size: larger;">
            Value
        </div>
        <div class="col-sm-1" style="vertical-align: middle; font-weight: bold; font-size: larger;">
            &nbsp;
        </div>
    </div>

    {{for model in models:}}
    {{=LOAD('default','editfinal_render.load', args=[model.id], ajax=True, content='Loading Model..')}}
    {{pass}}

</div>

<script>
    function enableButton(id) {
        document.getElementById(id).classList.remove("btn-outline-primary");
        document.getElementById(id).classList.add("btn-primary");
    }
</script>