{{extend 'layout.html'}}

<div class="mb-2">
    <h1 style="display: inline-block">Final Dispositions</h1>
    <div style="display: inline-block"><a class="" href="{{=URL('default', 'editfinal')}}">Edit</a></div>
</div>
<div class="mb-2">
    <p>This page outlines how I propose you liquidate my models. It does not factor in anything my family
        wants to keep. It also doesn't contemplate any other factors such as how you are valuing your time
        versus the money you want to get out of the collection. You will not get top dollar (rarely did I
        pay top dollar) and you will get less per model the more you bundle together. There are people,
        such a "Gotta Know Joe" that will buy the whole lot. Before you go that route though, I would prefer
        you at least trying to engage the people listed below. </p>

    <p>Regardng the tools and supplies, I do not have them valued individually at this time (I may improve
        this site to contemplate some high value items at a later date.) I suggest you try to bundle them
        as people make purchases.</p>

    <p>Another alternative, after the family and any idnetified people have taken/bought what they want,
        is to ask someone to help you garage sale what is left. Marketing will be key. Use my Facebook
        account to post in local club and sale groups. Also contact Fitz as he knows many people.
    </p>

    <p>Speaking of Facebook, I am a member of various groups that could be used to post things for sale.
        At the end of the day, once the people identified have had an opportunity, I don't care what you
        do with it all. I just seems wrong to simply trash it all. But, worse would be for them to be an
        unnecessary burden. Okay, wow, so now I am prematurely sorry you are having to deal with this at all!
    </p>
</div>

<div class="mb-2">

    {{=models}}

</div>