{{extend 'layout.html'}}

<div class="row">
    <div class="col">{{=message}}</div>
</div>

{{if unreferenced_files:}}
{{=deleteform.custom.begin}}
{{for file_id, file in unreferenced_files.items():}}
<div class="row border-bottom">
    <div class="col">

        {{=filename_filetype_icon(file, 24)}}
        {{=A(file, _href=URL('default', 'download', args=file))}}
    </div>
    {{if isimage(file):}}
    <div class="col-sm-2">
        <img class="" style="max-width: 50px;" src="{{=URL('default', 'download', args=file)}}" alt="{{=file}}">
    </div>
    {{pass}}
    <div class="col-sm-2">
        <button class="btn btn-danger" type="submit" value="Remove" name="{{=file_id}}">{{=action_icon('delete', 16)}}</button>
    </div>
</div>
{{pass}}
{{=deleteform.custom.end}}
{{else:}}
<div class="row">
    <div class="col">
        Awesome! You have no orphaned files!
    </div>
</div>
{{pass}}