{{extend 'layout.html'}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>{{=controller_icon('battery', 48)}} Batteries</h2>
    </div>
</div>

<div class="row border-bottom my-2">
    <div class="col th-listview-header">
        {{=db.battery.get_name.label}}
    </div>
    <div class="col d-none d-md-block th-listview-header">
        {{=db.battery.voltage.label}}
    </div>
    <div class="col d-none d-md-block th-listview-header">
        {{=db.battery.ownedcount.label}}
    </div>
    <div class="col th-listview-header">
        Actions
    </div>
</div>

{{if batteries:}}
{{for battery in batteries:}}
<div class="row border-bottom my-2">
    <div class="col">
        {{=battery.get_name()}}
    </div>
    <div class="col d-none d-md-block">
        {{=TwoDecimal(battery.voltage)}}
    </div>
    <div class="col d-none d-md-block">
        {{=battery.ownedcount}}
    </div>
    <div class="col">
        {{=viewButton('battery', 'index', [battery.id])}}
        {{=editButton('battery', 'update', [battery.id])}}
        {{=plusButton('battery', 'addcount', [battery.id])}}
        {{=minusButton('battery', 'subtractcount', [battery.id])}}
    </div>
</div>
{{pass}}
{{else:}}
<div class="row border-bottom my-2">
    <div class="col">No batteries found {{=newButton('battery', 'update', '')}}</div>
</div>
{{pass}}

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=newButton('battery', 'update', '')}}
</div>