{{extend 'layout.html'}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>{{=controller_icon('sailrig', 48)}} Sail Rigs</h2>
    </div>
</div>

<div class="row border-bottom my-2">
    <div class="col-sm-1 th-listview-header">
        &nbsp;
    </div>
    <div class="col th-listview-header">
        {{=db.sailrig.rigname.label}}
    </div>
    <div class="col th-listview-header">
        {{=db.sailrig.model.label}}
    </div>
    <div class="col-sm-3 th-listview-header">
        Actions
    </div>
</div>

{{if sailrigs:}}
{{for sailrig in sailrigs:}}
<div class="row border-bottom my-2">
    <div class="col-sm-1">
        <img src="{{=URL('default', 'download', args=sailrig.img)}}" height="48px" alt="{{=sailrig.rigname}}">
    </div>
    <div class="col">
        {{=sailrig.rigname}}
    </div>
    <div class="col">
        {{=sailrig.model.name if sailrig.model else 'None'}}
    </div>
    <div class="col-sm-3">
        {{=viewButton('sailrig', 'index', [sailrig.id])}}
        {{=editButton('sailrig', 'update', [sailrig.id])}}
    </div>
</div>
{{pass}}
{{else:}}
<div class="row border-bottom my-2">
    <div class="col">No sail rigs found {{=newButton('sailrig', 'update', '')}}</div>
</div>
{{pass}}

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=newButton('sailrig', 'update', '')}}
</div>