{{extend 'layout.html'}}

{{if form.errors:}}
Your submitted form contains the following errors:
<ul>
    {{for fieldname in form.errors:}}
    <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
    {{pass}}
</ul>
{{form.errors.clear()}}
{{pass}}

{{=form.custom.begin}}

<div class="update-page">
    <div class="row">
        <h2 class="">{{=controller_icon('sailrig', 48)}} Sail Rig</h2>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                {{=makeFormField(form, "rigname", FormFieldType.COLUMNS, columns=6)}}
                {{=makeFormField(form, "model", FormFieldType.COLUMNS, columns=6)}}
            </div>

            <div class="row">
                {{=makeFormField(form, "notes", FormFieldType.COLUMNS)}}
            </div>
        </div>

        <div class="col-4">
            {{=makeFormField(form, "img", FormFieldType.COLUMNS)}}
        </div>
    </div>

    <fieldset>
        <legend>Attributes</legend>

        <div class="row">
            {{=makeFormField(form, "mast_material", FormFieldType.COLUMNS, columns=4)}}
            {{=makeFormField(form, "mast_length_mm", FormFieldType.COLUMNS, columns=8)}}

        </div>


        <div class="row">
            {{=makeFormField(form, "main_boom_material", FormFieldType.COLUMNS, columns=4)}}
            {{=makeFormField(form, "main_boom_length_mm", FormFieldType.COLUMNS, columns=8)}}

        </div>

        <div class="row">
            {{=makeFormField(form, "jib_boom_material", FormFieldType.COLUMNS, columns=4)}}
            {{=makeFormField(form, "jib_boom_length_mm", FormFieldType.COLUMNS, columns=8)}}

        </div>

        <div class="row">
            {{=makeFormField(form, "main_sail_material", FormFieldType.COLUMNS, columns=4)}}
            {{=makeFormField(form, "main_sail_area_dm2", FormFieldType.COLUMNS, columns=8)}}

        </div>

        <div class="row">
            {{=makeFormField(form, "jib_sail_material", FormFieldType.COLUMNS, columns=4)}}
            {{=makeFormField(form, "jib_sail_area_dm2", FormFieldType.COLUMNS, columns=8)}}

        </div>

    </fieldset>
</div>

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=makeFormField(form, 'submit', fieldType=FormFieldType.COLUMNS)}}
</div>

{{=form.custom.end}}