{{extend 'layout.html'}}

{{for transmitter in transmitters:}}
<div class="index-page">
    <div class="row">
        <h2>{{=controller_icon('transmitter', 48)}} {{=transmitter.name}}</h2>
    </div>
    {{if transmitter.nickname:}}
    <div class="row">
        <h4>{{=transmitter.nickname}}</h4>
    </div>
    {{pass}}

    <div class="row mt-5">
        <div class="col-sm-3">
            {{if transmitter.img:}}
            <img class="" style="max-width: 200px;" src="{{=URL('default', 'download', args=transmitter.img)}}" alt="Card image cap">
            {{pass}}
        </div>

        <div class="col-9">
            {{=MARKMIN(transmitter.notes)}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="card-deck">
            <div class="card assoc-card">
                <div class="card-header">
                    <h5 class="card-title">Properties</h5>
                </div>
                <div class="card-body attribute-list">
                    <dl>
                        <dt class="d-block">Serial</dt>
                        <dd class="ml-1">{{=transmitter.serial}}</dd>
                        <dt class="d-block">Operating System</dt>
                        <dd class="ml-1">{{=transmitter.os}}</dd>
                        <dt class="d-block">Protocols</dt>
                        {{if transmitter.protocol:}}
                        {{for p in transmitter.protocol:}}
                        <dd class="ml-1">{{=p.name}}</dd>
                        {{pass}}
                        {{else:}}
                        <dd class="ml-1">No Protocols Identified</dd>
                        {{pass}}
                    </dl>
                </div>
            </div>

            <div class="card assoc-card">
                <div class="card-header">
                    <h5 class="card-title">Associated Models</h5>
                </div>
                <div class="card-body">

                    {{if models:}}
                    <ul class="list-group">
                        {{for model in models:}}
                        {{=modelListItem(model, img=True)}}
                        {{pass}}
                    </ul>
                    {{else:}}
                    No models use this protocol
                    {{pass}}

                </div>
            </div>

            <div class="card assoc-card">
                <div class="card-header">
                    <h5 class="card-title">Attachment</h5>
                </div>
                <div class="card-body">
                    {{if transmitter.attachment:}}
                    {{(filename, file) = db.transmitter.attachment.retrieve(transmitter.attachment)}}

                    <ul class="list-group">
                        {{=attachmentListItem(transmitter.attachment, True, filename)}}
                    </ul>
                    {{else:}}
                    No Attachments
                    {{pass}}
                </div>
            </div>
        </div>
    </div>


    <div class=" row bg-light fixed-bottom pl-5 p-2">
        <a class="btn btn-primary" href="{{=URL('transmitter','update',args=transmitter.id,extension='html')}}">Edit</a>
    </div>
</div>

{{pass}}

<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-header">
                <h5 class="card-title">Switch Usage</h5>
            </div>
            <div class="card-body">
                {{=LOAD('switch', 'listswitches.load', args=[transmitter.id], ajax=True, content=DIV(IMG(_src=URL('static',
                'images/waiting.gif'))))}}
            </div>
        </div>
    </div>
</div>