{{extend 'layout.html'}}

{{for transmitter in transmitters:}}
<div class="container">
    <div class="row">
        <h2>{{=transmitter.name}}</h2>
    </div>
    {{if transmitter.nickname:}}
    <div class="row">
        <h4>{{=transmitter.nickname}}</h4>
    </div>
    {{pass}}
    <div class="row mb-5">
        <div class="col-1">
            <span class="model_transmitter_label">Serial: </span>
        </div>
        <div class="col-5">
            <span class="model_transmitter_content">{{=transmitter.serial}}</span>
        </div>
        <div class="col-1">
            <span class="model_transmitter_label">OS: </span>
        </div>
        <div class="col-5">
            <span class="model_transmitter_content">{{=transmitter.os}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{if transmitter.img:}}
            <img class="" style="max-width: 200px;" src="{{=URL('default', 'download', args=transmitter.img)}}" alt="Card image cap">
            {{pass}}
        </div>

        <div class="col-sm-4">
            <div class="card ">
                <div class="card-header">
                    <h5 class="card-title">Associated Models</h5>
                </div>
                <div class="card-body">
                    <ul>
                        {{if models:}}
                        {{for model in models:}}
                        <li><a href="{{=URL('model', 'index', args=model.id)}}">{{=model.name}}</a></li>
                        {{pass}}
                        {{else:}}
                        No Models
                        {{pass}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card ">
                <div class="card-header">
                    <h5 class="card-title">Attachment</h5>
                </div>
                <div class="card-body">
                    {{if transmitter.attachment:}}
                    <ul>
                        {{(filename, file) = db.transmitter.attachment.retrieve(transmitter.attachment)}}
                        <li><a href="{{=URL('default', 'download', args=transmitter.attachment)}}">{{=filename}}</a></li>
                    </ul>
                    {{else:}}
                    No Attachments
                    {{pass}}
                </div>
            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-12">
            {{=MARKMIN(transmitter.notes)}}
        </div>
    </div>

    <div class=" row mt-5 mb-5">
        <a class="btn btn-primary" href="{{=URL('transmitter','update',args=transmitter.id,extension='html')}}">Edit</a>
    </div>
</div>

{{pass}}

<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-header">
                <h5 class="card-title">Switch Usage</h5>
            </div>
            <div class="card-body">
                {{=LOAD('switch', 'listswitches.load', args=[transmitter.id], ajax=True, content=DIV(IMG(_src=URL('static',
                'images/waiting.gif'))))}}
            </div>
        </div>
    </div>
</div>