{{extend 'layout.html'}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>{{=controller_icon('transmitter', 48)}} Transmitter</h2>
    </div>
</div>

<div class="row border-bottom my-2">
    <div class="col-sm-1 th-listview-header">
        &nbsp;
    </div>
    <div class="col th-listview-header">
        {{=db.transmitter.name.label}}
    </div>
    <div class="col th-listview-header">
        {{=db.transmitter.os.label}}
    </div>
    <div class="col th-listview-header">
        {{=db.transmitter.protocol.label}}
    </div>
    <div class="col-sm-1 th-listview-header">
        Actions
    </div>
</div>

{{if transmitters:}}
{{for transmitter in transmitters:}}
<div class="row border-bottom my-2">
    <div class="col-sm-1">
        <img src="{{=URL('default', 'download', args=transmitter.img)}}" height="48px" alt="{{=transmitter.name}}">
    </div>
    <div class="col">
        {{=transmitter.name}}
    </div>
    <div class="col">
        {{=transmitter.os}}
    </div>
    <div class="col">
        {{if transmitter.protocol:}}
        <ul>
            {{for p in transmitter.protocol:}}
            <li>{{=p.name}}</li>
            {{pass}}
        </ul>
        {{else:}}
        &nbsp;
        {{pass}}
    </div>

    <div class="col-sm-3">
        {{=viewButton('transmitter', 'index', [transmitter.id])}}
        {{=editButton('transmitter', 'update', [transmitter.id])}}
    </div>
</div>
{{pass}}
{{else:}}
<div class="row border-bottom my-2">
    <div class="col">No transmitters found {{=newButton('transmitter', 'update', '')}}</div>
</div>
{{pass}}

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=newButton('transmitter', 'update', '')}}
</div>