{{extend 'layout.html'}}

{{if form.errors:}}
Your submitted form contains the following errors:
<ul>
    {{for fieldname in form.errors:}}
    <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
    {{pass}}
</ul>
{{form.errors.clear()}}
{{pass}}

{{=form.custom.begin}}

<div class="update-page">
    <div class="row">
        <h2 class="">{{=controller_icon('transmitter', 48)}} Transmitter</h2>
    </div>
    <div class="row">
        {{=makeFormField(form, "name", FormFieldType.COLUMNS)}}
    </div>
    <div class="row">
        {{=makeFormField(form, "nickname", FormFieldType.COLUMNS, columns=6)}}
        {{=makeFormField(form, "serial", FormFieldType.COLUMNS, columns=6)}}
    </div>
    <div class="row">
        {{=makeFormField(form, "os", FormFieldType.COLUMNS, columns=6)}}
        {{=makeFormField(form, "protocol", FormFieldType.COLUMNS, columns=6)}}
    </div>
    <div class="row">
        {{=makeFormField(form, "img", FormFieldType.COLUMNS, columns=6)}}
        {{=makeFormField(form, "attachment", FormFieldType.COLUMNS, columns=6)}}
    </div>
    <div class="row">
        {{=makeFormField(form, "notes", FormFieldType.COLUMNS)}}
    </div>
</div>

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=makeFormSubmitbutton(form)}}
</div>

{{=form.custom.end}}