{{extend 'layout.html'}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>{{=controller_icon('protocol', 48)}} Protocols</h2>
    </div>
</div>

<div class="row border-bottom my-2">
    <div class="col th-listview-header">
        {{=db.protocol.name.label}}
    </div>
    <div class="col th-listview-header">
        Actions
    </div>
</div>

{{if protocols:}}
{{for protocol in protocols:}}
<div class="row border-bottom my-2">
    <div class="col">
        {{=protocol.name}}
    </div>
    <div class="col">
        {{=viewButton('protocol', 'index', [protocol.id])}}
        {{=editButton('protocol', 'update', [protocol.id])}}
    </div>
</div>
{{pass}}
{{else:}}
<div class="row border-bottom my-2">
    <div class="col">No protocols found {{=newButton('protocol', 'update', '')}}</div>
</div>
{{pass}}

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=newButton('protocol', 'update', '')}}
</div>