{{extend 'layout.html'}}

{{for tool in tools:}}
<div class="index-page ">
    <div class="row">
        <h2>{{=controller_icon('tool', 48)}} {{=tool.name}} <span class="badge badge-secondary">{{=tool.tooltype}}</span></h2>
    </div>

    <div class="row">
        <div class="mt-5 mb-5 col-sm-12">
            {{=MARKMIN(tool.notes)}}
        </div>
    </div>

    <div class="row">
        <div class="card-deck">
            {{if models:}}
            <div class="card assoc-card">
                <div class="card-header">
                    <h5 class="card-title">Associated Models</h5>
                </div>
                <div class="card-body">
                    {{if models:}}
                    <ul class="list-group">
                        {{for model in models:}}
                        {{=modelListItem(model, img=True)}}
                        {{pass}}
                    </ul>
                </div>
            </div>
            {{pass}}
            {{if tool.attachment:}}
            <div class="card assoc-card">
                <div class="card-header">
                    <h5 class="card-title">Attachment</h5>
                </div>
                <div class="card-body">
                    {{(filename, file) = db.component.attachment.retrieve(tool.attachment)}}
                    <ul class="list-group">
                        {{=attachmentListItem(tool.attachment, True, filename)}}
                    </ul>
                </div>
            </div>
            {{pass}}
        </div>
    </div>
    <div class=" row bg-light fixed-bottom pl-5 p-2">
        <a class="btn btn-primary" href="{{=URL('tool','update',args=tool.id,extension='html')}}">Edit</a>
    </div>
</div>

{{pass}}