{{extend 'layout.html'}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>{{=controller_icon('tool', 48)}} Tools</h2>
    </div>
</div>

<div class="row border-bottom my-2">
    <div class="col-sm-1 th-listview-header">
        &nbsp;
    </div>
    <div class="col th-listview-header">
        Type
    </div>
    <div class="col th-listview-header">
        Type
    </div>
    <div class="col-sm-3 th-listview-header">
        &nbsp;
    </div>
</div>

{{for tool in tools:}}
<div class="row border-bottom my-2">
    <div class="col-sm-1">
        <img src="{{=URL('default', 'download', args=tool.img)}}" height="48px">
    </div>
    <div class="col">
        {{=tool.tooltype}}
    </div>
    <div class="col">
        {{=tool.name}}
    </div>
    <div class="col-sm-3">
        {{=viewButton('model', 'index', [tool.id])}}
        {{=editButton('model', 'update', [tool.id])}}
    </div>
{{pass}}