{{extend 'layout.html'}}

{{if form.errors:}}
Your submitted form contains the following errors:
<ul>
    {{for fieldname in form.errors:}}
    <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
    {{pass}}
</ul>
{{form.errors.clear()}}
{{pass}}

{{=form.custom.begin}}

<div class="update-page">
    <div class="row">
        <h2 class="">{{=controller_icon('tool', 48)}} Tool</h2>
    </div>

    <div class="row">
        {{=makeFormField(form, "name", FormFieldType.COLUMNS)}}
        {{=makeFormField(form, "tooltype", FormFieldType.COLUMNS)}}

    </div>
    <div class="row">
        {{=makeFormField(form, "notes", FormFieldType.COLUMNS)}}

    </div>

    <div class="row">
        {{=makeFormField(form, "img", FormFieldType.COLUMNS)}}
        {{=makeFormField(form, "attachment", FormFieldType.COLUMNS)}}

    </div>
    <div class="row">

    </div>
</div>

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=makeFormField(form, 'submit', fieldType=FormFieldType.COLUMNS)}}
    {{=makeFormDeleteButton(form)}}
</div>


{{=form.custom.end}}