{{extend 'layout.html'}}

{{if form.errors:}}
Your submitted form contains the following errors:
<ul>
    {{for fieldname in form.errors:}}
    <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
    {{pass}}
</ul>
{{form.errors.clear()}}
{{pass}}

{{=form.custom.begin}}
<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=form.custom.submit}}
</div>
<div class="update-page">
    <div class="row">
        <h2 class="">{{=controller_icon('tool', 48)}} Tool</h2>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="th_form_label_required">{{=form.custom.label.name}}</div>
            <div class="th_form_field">{{=form.custom.widget.name}}</div>
            <div class="th_form_comment d-none d-sm-block">{{=form.custom.comment.name}}</div>
        </div>
        <div class="col-4">
            <div class="th_form_label_required">{{=form.custom.label.tooltype}}</div>
            <div class="th_form_field">{{=form.custom.widget.tooltype}}</div>
            <div class="th_form_comment d-none d-sm-block">{{=form.custom.comment.tooltype}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="th_form_label">{{=form.custom.label.notes}}</div>
            <div class="th_form_field">{{=form.custom.widget.notes}}</div>
            <div class="th_form_comment d-none d-sm-block">{{=form.custom.comment.notes}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="th_form_label">{{=form.custom.label.img}}</div>
            <div class="th_form_field">{{=form.custom.widget.img}}</div>
            <div class="th_form_comment d-none d-sm-block">{{=form.custom.comment.img}}</div>
        </div>

        <div class="col">
            <div class="th_form_label">{{=form.custom.label.attachment}}</div>
            <div class="th_form_field">{{=form.custom.widget.attachment}}</div>
            <div class="th_form_comment d-none d-sm-block">{{=form.custom.comment.attachment}}</div>
        </div>
    </div>
</div>


{{=form.custom.end}}