{{extend 'layout.html'}}

{{lastitemtype = None}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>{{=controller_icon('packinglist', 48)}} Packing List Items</h2>
    </div>
</div>


<div class="row border-bottom my-2">
    <div class="col th-listview-header">
        {{=db.packingitems.name.label}}
    </div>
    <div class="col th-listview-header">
        Actions
    </div>
</div>


{{if packingitems:}}
{{for item in packingitems:}}
{{if item.itemtype != lastitemtype:}}
{{lastitemtype = item.itemtype}}
<div class="row th-listview-subheader my-2">{{=item.itemtype}}</div>
{{pass}}
<div class="row border-bottom my-2">

    <div class="col text-truncate">
        {{=item.name}}
    </div>
    <div class="col-3">
        {{=deleteButton('packingitems', 'delete', [item.id])}}
    </div>
</div>
{{pass}}
{{else:}}
<div class="row border-bottom my-2">
    <div class="col">No packing items found {{=newButton('packinglist', 'update', '')}}</div>
</div>
{{pass}}

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=newButton('packinglist', 'update', '')}}
</div>