{{extend 'layout.html'}}

{{table = db.packingitems}}

{{if form.errors:}}
Your submitted form contains the following errors:
<ul>
    {{for fieldname in form.errors:}}
    <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
    {{pass}}
</ul>
{{form.errors.clear()}}
{{pass}}

{{=form.custom.begin}}

<div class="update-page">
    <div class="row">
        <h2 class="">Packing Item</h2>
    </div>

    {{=makeFormField(form, 'name', FormFieldType.ROWS)}}
    {{=makeFormField(form, 'itemtype', FormFieldType.ROWS)}}


</div>

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=makeFormSubmitbutton(form)}}
    {{=makeFormDeleteButton(form)}}
</div>

{{=form.custom.end}}