{{extend 'layout.html'}}

<h1>Edit Model Diagram for {{=model_name}}</h1>

<div class="row">
    <div class="col-md-6">
        {{=form.custom.begin}}
        {{=form.custom.submit}}
        {{=form.custom.widget.diagram}}
        <div class="model_form_comment">{{=form.custom.comment.diagram}}</div>
        {{=form.custom.end}}

        <button class="btn btn-secondary" onclick="setDefaultDot()">Use default dot code</button>
    </div>

    <div class="col-6 border-left">

        <table class="table table-sm">
            <tr>
                <th>Action</th>
                <th>Attributes</th>
                <th>Dot Code</th>
            </tr>
            {{for k,v in attribs.items():}}
            <tr>
                <td><button class="btn btn-sm btn-secondary" onclick="insertText('{{=v}}')">Insert</button></td>
                <td>{{=k}}</td>
                <td>{{=v}}</td>

            </tr>
            {{pass}}
        </table>


        <table class="table table-sm">
            <tr>
                <th>Action</th>
                <th>Component</th>
                <th>Dot Code</th>
            </tr>
            {{for k,v in components.items():}}
            <tr>
                <td><button class="btn btn-sm btn-secondary" onclick="insertText('{{=v}}')">Insert</button></td>
                <td>{{=k}}</td>
                <td>{{=v}}</td>

            </tr>
            {{pass}}
        </table>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6 border-left">
        <div id="graph-container"></div>
    </div>
</div>


<script src="{{=URL('static','js/viz-global.js')}}"></script>

<script>

    const myTextarea = document.getElementById('model_diagram');
    myTextarea.addEventListener('input', (event) => {
        updateGraph();
    });

    function insertText(text) {
        const textArea = document.getElementById("model_diagram");
        const textToInsert = text;
        textArea.setRangeText(textToInsert);
        updateGraph();
        textArea.focus(); // Keep focus on the textarea after insertion
    }

    function setDefaultDot() {
        document.getElementById("model_diagram").value = `{{=XML(default_dot)}}`;
        updateGraph();
    }

    function updateGraph() {

        Viz.instance().then(viz => {
            const svg = viz.renderSVGElement(document.getElementById("model_diagram").value);

            document.getElementById("graph-container").replaceChildren(svg);
        });
    }

    updateGraph();

</script>