{{extend 'layout.html'}}

<!--<div>
    {{=model_components_dot}}
</div>-->

<h1>Edit Model Diagram for {{=model_name}}</h1>

<div class="row">
    <div class="col-md-6">
        {{=form.custom.begin}}

        <div class="row bg-light fixed-bottom pl-5 p-2">
            {{=form.custom.submit}}
        </div>

        {{=form.custom.widget.diagram}}

        <div class="model_form_comment">{{=form.custom.comment.diagram}}</div>
        
        {{=form.custom.end}}


    </div>

    <div class="col-6 border-left">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-secondary" onclick="setDefaultDot()">Use default dot code</button>
                <button class="btn btn-secondary" onclick="setComponentDot()">Use component dot code</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 class="col d-block">Attributes</h5>
            </div>
        </div>
        <div class="row">
            {{for k,v in edge_attribs.items():}}
            <div class="d-inline-block m-1">
                <div class="d-inline"><button class="btn btn-sm btn-secondary" onclick="insertText('{{=v}}')">{{=k}}</button></div>
            </div>
            {{pass}}
        </div>
        <div class="row">
            <div class="col">
                <h5>Components</h5>
            </div>
        </div>
        <div class="row">
            {{for comp in components:}}
            <div class="d-inline-block m-1">
                <div class="d-inline"><button class="btn btn-sm btn-secondary" onclick="insertText('{{=comp[1]}}')">{{=comp[0]}}</button></div>
            </div>
            {{pass}}
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6 border-left">
        <div id="graph-container"></div>
    </div>
</div>


<script src="{{=URL('static','js/viz-global.js')}}"></script>

<script>

    const myTextarea = document.getElementById('model_diagram');
    myTextarea.addEventListener('input', (event) => {
        updateGraph();
    });

    function insertText(text) {
        const textArea = document.getElementById("model_diagram");
        const textToInsert = text;
        textArea.setRangeText(textToInsert);
        updateGraph();
        textArea.focus(); // Keep focus on the textarea after insertion
    }

    function setDefaultDot() {
        document.getElementById("model_diagram").value = `{{=XML(default_dot)}}`;
        updateGraph();
    }

    function setComponentDot() {
        document.getElementById("model_diagram").value = `{{=XML(model_components_dot)}}`;
        updateGraph();
    }

    function updateGraph() {

        Viz.instance().then(viz => {
            const svg = viz.renderSVGElement(document.getElementById("model_diagram").value);

            document.getElementById("graph-container").replaceChildren(svg);
        });
    }

    updateGraph();

</script>