{{extend 'layout.html'}}

{{for comp in component:}}
<div class="container ">
    <div class="row">
        <h2>{{=comp.name}}</h2>

    </div>


    <div class="row">
        <div class="col-sm-6">
            {{if comp.img:}}
            <img class="" style="max-width: 200px;" src="{{=URL('default', 'download', args=comp.img)}}" alt="Card image cap">
            {{pass}}
        </div>
        <div class="col-sm-6">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Attributes</h5>
                </div>
                <div class="card-body attribute-list">
                    <dl>
                        <dt>Type</dt>
                        <dd>{{=comp.componenttype}}
                            {{if comp.componentsubtype:}}
                            : {{=comp.componentsubtype}}
                            {{pass}}
                        </dd>
                        <dt>Owned</dt>
                        <dd>{{=comp.ownedcount}}</dd>
                        <dt>Remaining</dt>
                        <dd>{{=comp.get_remainingcount()}}</dd>
                        <dt>Stored at</dt>
                        <dd>{{=comp.storedat}}</dd>
                        {{for key in comp.__dict__:}}
                        {{if key.startswith('attr_') and comp[key]:}}

                        <dt>{{=getattr(db.component, key).label}}</dt>
                        <dd>{{if getattr(db.component, key).type == 'double':}}
                            {{=TwoDecimal(comp[key])}} {{=ConvertMeasurementField(db.component, comp, key)}}
                            {{else:}}
                            {{=comp[key]}}
                            {{pass}}
                        </dd>
                        {{pass}}
                        {{pass}}
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-5 mb-5 col-sm-12">
            {{=MARKMIN(comp.notes)}}
        </div>
    </div>

    <div class="row">

        {{if modelCount:}}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Associated Models</h5>
            </div>
            <div class="card-body">
                <ul>
                    {{for model in modelCount:}}
                    <li><a href="{{=URL('model', 'index', args=modelIDs[model])}}">{{=model}} ({{=modelCount[model]}})</a></li>

                    {{pass}}
                </ul>
            </div>
        </div>
        {{pass}}
        {{if comp.attachment:}}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Attachment</h5>
            </div>
            <div class="card-body">
                <ul>

                    {{(filename, file) = db.component.attachment.retrieve(comp.attachment)}}
                    <li>
                        <div class="d-inline-block attachment_icon">{{=filetype_icon(comp.attachment, 32) }}</div>
                        <div class="d-inline-block attachment_name"><a href="{{=URL('default', 'download', args=comp.attachment)}}">{{=filename}}</a> </div>
                        <div class="d-inline-block">{{=comp.showAttachmentPopup()}}</div>
                    </li>
                </ul>
            </div>
        </div>
        {{pass}}
        {{if flitetimes:}}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Flight Times</h5>
            </div>
            <div class="card-body">
                <ul>
                    {{for f in flitetimes:}}
                    <li>{{=f.model.name}} flying for {{=f.get_minutes()}} minutes</li>
                    {{pass}}
                </ul>
            </div>
        </div>
        {{pass}}

    </div>
    <div class=" row bg-light fixed-bottom pl-5 p-2">
        <a class="btn btn-primary" href="{{=URL('component','update',args=comp.id,extension='html')}}">Edit</a>
    </div>
</div>


{{pass}}