{{extend 'layout.html'}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>Component Inventory</h2>
    </div>
</div>

{{if components:}}
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Type</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Remaining</th>
            <th scope="col" class="d-print-none">Action</th>
            <th scope="col">Actual</th>
        </tr>
    </thead>
    <tbody>
        {{for comp in components:}}
        <tr>
            <td><input type="checkbox" class="form-check-input" name="comp_{{=comp.id}}" value="{{=comp.id}}"></td>
            <td>{{=comp.componenttype}} {{if comp.componentsubtype:}}({{=comp.componentsubtype}}){{pass}}</td>
            <td><img class="" style="max-width: 100px;" src="{{=URL('default', 'download', args=comp.img)}}" alt="Card image cap"></td>
            <td><a href="{{=URL('component', 'index', args=comp.id)}}">{{=comp.name}}</a></td>
            <td>{{if comp.storedat:}}{{=comp.storedat}}{{else:}}Unknown{{pass}}</td>
            <td>{{=comp.get_remainingcount()}}</td>
            <td class="d-print-none">
                {{=plusButton('component', 'addcount', comp.id)}}
                {{=minusButton('component', 'subractcount', comp.id)}}
            </td>
            <td><input type="text" class="form-control" name="actual_{{=comp.id}}"></td>
        </tr>
        {{pass}}
    </tbody>
</table>
{{else:}}
No components found.
{{pass}}