{{extend 'layout.html'}}
{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/dataTables.bootstrap4.min.css')}}">
<style>
.component-table td,
.component-table th  { white-space: nowrap; vertical-align: middle; }
.component-table .col-name { white-space: normal; min-width: 130px; }
.component-table img { max-height: 50px; width: auto; }
</style>
{{end}}

<ul class="nav nav-tabs mb-2">
    {{for t in types:}}
    <li class="nav-item">
        <a class="nav-link {{=' active ' if active == t else ''}}"
           href="{{=URL('component', 'listview', vars=(dict(c=t, a='1') if available else dict(c=t)))}}">{{=t}}</a>
    </li>
    {{pass}}
</ul>

<div class="mb-2">
{{if available:}}
<a href="{{=URL('component', 'listview', vars=dict(c=requestedtype))}}"
   class="btn btn-sm btn-success">&#10003; Available Only &mdash; Show All</a>
{{else:}}
<a href="{{=URL('component', 'listview', vars=dict(c=requestedtype, a='1'))}}"
   class="btn btn-sm btn-outline-secondary">Show Available Only</a>
{{pass}}
</div>

<h2>{{=controller_icon('component', 48)}} {{=requestedtype}} Components</h2>

{{if rows:}}
<table id="component-list" class="table table-sm table-hover component-table">
<thead><tr>
    {{for fname, flabel in col_defs:}}
    <th>{{=flabel}}</th>
    {{pass}}
    <th>In Use</th>
    <th>Remaining</th>
    <th></th>
</tr></thead>
<tbody>
{{for row in rows:}}
<tr>
    {{for fname, flabel in col_defs:}}
    {{if fname == 'img':}}
    <td>{{=db.component.img.represent(row.img, row)}}</td>
    {{elif fname == 'name':}}
    <td class="col-name"><a href="{{=URL('component', 'index', args=[row.id])}}">{{=row.name}}</a></td>
    {{else:}}
    <td>{{=row.get(fname, '') or ''}}</td>
    {{pass}}
    {{pass}}
    <td class="text-center">{{=row.get_usedcount()}}</td>
    <td class="text-center"><strong>{{=row.get_remainingcount()}}</strong></td>
    <td class="col-btns">
        {{=viewButton('component', 'index', [row.id])}}
        {{=editButton('component', 'update', [row.id])}}
        {{=plusButton('component', 'addcount', [row.id])}}
        {{=minusButton('component', 'subtractcount', [row.id])}}
    </td>
</tr>
{{pass}}
</tbody>
</table>
{{elif requestedtype:}}
<p class="text-muted">No components found.</p>
{{else:}}
<p class="text-muted">Choose the Component Type Above...</p>
{{pass}}

{{block page_js}}
<script src="{{=URL('static','js/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static','js/dataTables.bootstrap4.min.js')}}"></script>
<script>
$(document).ready(function() {
    {{if rows:}}
    $('#component-list').DataTable({
        paging:    false,
        info:      false,
        searching: false,
        order:     [],
        scrollX:   true,
        columnDefs: [{ orderable: false, targets: [-1] }]
    });
    {{pass}}
});
</script>
{{end}}
