{{extend 'layout.html'}}

{{if form.errors:}}
Your submitted form contains the following errors:
<ul>
    {{for fieldname in form.errors:}}
    <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
    {{pass}}
</ul>
{{form.errors.clear()}}
{{pass}}

{{=form.custom.begin}}

<div class="update-page">
    

    <div class="row ">
        <h2 class="">{{=controller_icon('component', 48)}} Component</h2>
    </div>

    <div class="row">
        {{=makeFormField(form, "name", FormFieldType.COLUMNS, columns=4)}}
        {{=makeFormField(form, "componenttype", FormFieldType.COLUMNS, columns=4)}}
        {{=makeFormField(form, "componentsubtype", FormFieldType.COLUMNS, columns=4)}}
        
    </div>
    <div class="row">
        {{=makeFormField(form, "significantdetail", FormFieldType.COLUMNS, columns=6)}}
        {{=makeFormField(form, "diagramname", FormFieldType.COLUMNS, columns=6)}}
       
    </div>
    <div class="row">
        {{=makeFormField(form, "ownedcount", FormFieldType.COLUMNS, columns=6)}}
        {{=makeFormField(form, "storedat", FormFieldType.COLUMNS, columns=6)}}

    </div>

    <div class="row">
        {{=makeFormField(form, "img", FormFieldType.COLUMNS, columns=6)}}
        {{=makeFormField(form, "attachment", FormFieldType.COLUMNS, columns=6)}}
        
    </div>


    <div class="row">
        {{=makeFormField(form, "notes", FormFieldType.COLUMNS)}}

    </div>


    <div class="row">
        <h3 class="">Attributes</h3>
    </div>

    <div class="row">
        {{=makeFormField(form, "attr_length", FormFieldType.COLUMNS)}}

    </div>
    <div class="row">
        {{=makeFormField(form, "attr_width", FormFieldType.COLUMNS)}}

    </div>
    <div class="row">
        {{=makeFormField(form, "attr_height", FormFieldType.COLUMNS)}}

    </div>
    <div class="row">
        {{=makeFormField(form, "attr_weight_oz", FormFieldType.COLUMNS)}}

    </div>

    <br>
    
    <div class="row mb-2">
        {{for key in form.custom.label:}}
        {{if key.startswith('attr_') and key not in ['attr_length', 'attr_width', 'attr_height', 'attr_weight_oz']:}}
        {{=makeFormField(form, key, FormFieldType.COLUMNS, columns=6, fieldid=key)}}
        {{pass}}
        {{pass}}
    </div>

    
</div>

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=makeFormField(form, 'submit', FormFieldType.ROWS)}}
</div>

{{=form.custom.end}}

<script>

    function typeChange() {
        // Don't process these fields
        let type = document.getElementById("component_componenttype").value;
        let component_attribs = JSON.parse('{{=XML(component_attribs)}}');
        //alert(component_attribs);
        let exclude = ['component_attr_length', 'component_attr_width', 'component_attr_height', 'component_attr_weight_oz'];
        // Get all attribute fields
        let attrs = document.querySelectorAll('[id^="component_attr_"]');
        for (let i = 0; i < attrs.length; i++) {
            if (!exclude.includes(attrs[i].id)) {
                let attr_name = attrs[i].id.slice(10);
                //alert(type + "\n" + attr_name + "\n" + component_attribs[type] + "\n");
                if (component_attribs[type].includes(attr_name)) {
                    //alert(attr_name + "  show!");
                    document.getElementById(attr_name).style.display = 'block';
                }
                else {
                    //alert(attr_name + "  hide!");
                    document.getElementById(attr_name).style.display = 'none';
                }
            }
        }
    }

    document.getElementById("component_componenttype").addEventListener("change", typeChange);
    jQuery(document).ready(typeChange);
</script>