{{extend 'layout.html'}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>{{=controller_icon('activity', 48)}} Activities</h2>
    </div>
</div>

<div class="row border-bottom my-2">
    <div class="col th-listview-header">
        {{=db.activity.activitydate.label}}
    </div>
    <div class="col th-listview-header">
        {{=db.activity.model.label}}
    </div>
    <div class="col th-listview-header">
        {{=db.activity.activitytype.label}}
    </div>
    <div class="col d-none d-md-block th-listview-header">
        {{=db.activity.activitylocation.label}}
    </div>
    <div class="col-sm-4 th-listview-header">
        Actions
    </div>
</div>

{{if activities:}}
{{for activity in activities:}}
<div class="row border-bottom my-2">
    <div class="col">
        {{=activity.activitydate}}
    </div>
    <div class="col text-truncate">
        {{=activity.model.name if activity.model else 'None'}}
    </div>
    <div class="col">
        {{=activity.activitytype}}
    </div>
    <div class="col d-none d-md-block">
        {{=activity.activitylocation}}
    </div>
    <div class="col-sm-4">
        {{=viewButton('activity', 'index', [activity.id])}}
        {{=editButton('activity', 'update', [activity.id])}}
    </div>
</div>
{{pass}}
{{else:}}
<div class="row border-bottom my-2">
    <div class="col">No activities found {{=newButton('activity', 'update', '')}}</div>
</div>
{{pass}}

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=newButton('activity', 'update', '')}}
</div>