{{extend 'layout.html'}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>{{=controller_icon('wtc', 48)}} Water Tight Cylinders</h2>
    </div>
</div>

<div class="row border-bottom my-2">
    <div class="col-sm-1 th-listview-header">
        &nbsp;
    </div>
    <div class="col th-listview-header">
        {{=db.wtc.name.label}}
    </div>
    <div class="col th-listview-header">
        {{=db.wtc.make.label}}
    </div>
    <div class="col th-listview-header">
        {{=db.wtc.model.label}}
    </div>
    <div class="col-sm-3 th-listview-header">
        Actions
    </div>
</div>

{{if wtcs:}}
{{for wtc in wtcs:}}
<div class="row border-bottom my-2">
    <div class="col-sm-1">
        <img src="{{=URL('default', 'download', args=wtc.img)}}" height="48px" alt="{{=wtc.name}}">
    </div>
    <div class="col">
        <div class="text-nowrap text-truncate">{{=wtc.name}}</div>
    </div>
    <div class="col">
        <div class="text-nowrap text-truncate">{{=wtc.make}}</div>
    </div>
    <div class="col">
        <div class="text-nowrap text-truncate">{{=wtc.model}}</div>
    </div>
    <div class="col-sm-3">
        {{=viewButton('wtc', 'index', [wtc.id])}}
        {{=editButton('wtc', 'update', [wtc.id])}}
    </div>
</div>
{{pass}}
{{else:}}
<div class="row border-bottom my-2">
    <div class="col">No water tight cylinders found {{=newButton('wtc', 'update', '')}}</div>
</div>
{{pass}}

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=newButton('wtc', 'update', '')}}
</div>