{{extend 'layout.html'}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>{{=controller_icon('todo', 48)}} Todos</h2>
    </div>
</div>

<div class="row border-bottom my-2">
    <div class="col th-listview-header">
        Model
    </div>
    <div class="col th-listview-header">
        {{=db.todo.todo.label}}
    </div>
    <div class="col d-none d-md-block th-listview-header">
        {{=db.todo.critical.label}}
    </div>
    <div class="col-sm-3 d-none d-md-block text-truncate th-listview-header">
        {{=db.todo.notes.label}}
    </div>
    <div class="col th-listview-header">
        Actions
    </div>
</div>

{{if todos:}}
{{for todo in todos:}}
<div class="row border-bottom my-2 {{='font-weight-bold' if todo.critical else ''}}">
    <div class="col text-truncate">
        {{=todo.model.name if todo.model else 'No Model'}}
    </div>
    <div class="col text-truncate">
        {{=todo.todo}}
    </div>
    <div class="col d-none d-md-block">
        {{=todo.critical}}
    </div>
    <div class="col-sm-3 d-none d-md-block text-truncate">
        {{=todo.notes}}
    </div>
    <div class="col">
        {{=completeButton('todo', 'complete', [None, todo.id])}}
        {{=editButton('todo', 'update', [todo.id])}}
    </div>
</div>
{{pass}}
{{else:}}
<div class="row border-bottom my-2">
    <div class="col">No todos found {{=newButton('todo', 'update', '')}}</div>
</div>
{{pass}}

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=newButton('todo', 'update', '')}}
</div>