{{extend 'layout.html'}}

{{if form.errors:}}
Your submitted form contains the following errors:
<ul>
    {{for fieldname in form.errors:}}
    <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
    {{pass}}
</ul>
{{form.errors.clear()}}
{{pass}}

{{=form.custom.begin}}

<div class="update-page">
    <div class="row">
        <h2 class="">{{=controller_icon('todo', 48)}} Todo</h2>
    </div>

    <div class="row">
        {{=makeFormField(form, 'todo', FormFieldType.COLUMNS, columns=5)}}
        {{=makeFormField(form, 'critical', FormFieldType.COLUMNS, columns=2)}}
        {{=makeFormField(form, 'model', FormFieldType.COLUMNS, columns=5)}}
    </div>
    <div class="row">
        {{=makeFormField(form, 'notes', FormFieldType.COLUMNS)}}
    </div>
    <div class="row">
        {{=makeFormField(form, 'complete', FormFieldType.COLUMNS)}}
    </div>

</div>

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=makeFormField(form, 'submit', fieldType=FormFieldType.COLUMNS)}}
    {{=makeFormDeleteButton(form)}}
</div>

{{=form.custom.end}}