{{extend 'layout.html'}}

{{if form.errors:}}
<ul class="alert alert-danger">
    {{for fieldname in form.errors:}}
    <li>{{=fieldname}}: {{=form.errors[fieldname]}}</li>
    {{pass}}
</ul>
{{form.errors.clear()}}
{{pass}}

{{=form.custom.begin}}

<div class="update-page">
    <div class="row">
        <h2>Radio Channel</h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{=makeFormField(form, 'channel_num',   FormFieldType.STANDARD)}}
            {{=makeFormField(form, 'name',           FormFieldType.STANDARD)}}
            {{=makeFormField(form, 'frequency_mhz',  FormFieldType.STANDARD)}}
            {{=makeFormField(form, 'channel_mode',   FormFieldType.STANDARD)}}
            {{=makeFormField(form, 'skip',           FormFieldType.STANDARD)}}
            {{=makeFormField(form, 'channel_comment', FormFieldType.STANDARD)}}
        </div>
        <div class="col-md-6">
            {{=makeFormField(form, 'duplex',         FormFieldType.STANDARD)}}
            {{=makeFormField(form, 'offset_mhz',     FormFieldType.STANDARD)}}
            {{=makeFormField(form, 'tone_mode',      FormFieldType.STANDARD)}}
            {{=makeFormField(form, 'ctcss_freq',     FormFieldType.STANDARD)}}
            {{=makeFormField(form, 'dtcs_code',      FormFieldType.STANDARD)}}
        </div>
    </div>

    <div class="row mt-3">
        {{=makeFormField(form, 'submit', FormFieldType.STANDARD)}}
    </div>
</div>

{{=form.custom.end}}
