{{extend 'layout.html'}}

<div class="row mb-3">
    <div class="col-md-12">
        <h2>{{=controller_icon('paint', 48)}} Paints</h2>
    </div>
</div>

{{if paints:}}
{{for paint in paints:}}
<div class="row border-bottom my-2">
    <div class="col-1">
        <div style="width:50px; height:90%; background-color:{{=paint.colorhex}};">&nbsp;</div>
    </div>
    <div class="col-auto d-none d-md-block">
        <img src="{{=URL('default', 'download', args=paint.img)}}" width="48px">
    </div>

    <div class="col">
        <div class="text-nowrap text-truncate">{{=paint.get_name()}}</div>
    </div>

    <div class="col-3">
        {{=viewButton('paint', 'index', [paint.id])}}
        {{=editButton('paint', 'update', [paint.id])}}
    </div>
</div>
{{pass}}
{{else:}}
<div class="row border-bottom my-2">
    <div class="col">No paint found {{=newButton('paint', 'update', '')}}</div>
</div>
{{pass}}

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=newButton('paint', 'update', '')}}
</div>