{{extend 'layout.html'}}

{{if form.errors:}}
Your submitted form contains the following errors:
<ul>
    {{for fieldname in form.errors:}}
    <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
    {{pass}}
</ul>
{{form.errors.clear()}}
{{pass}}

{{=form.custom.begin}}

<div class="update-page">
    <div class="row">
        <h2 class="">{{=controller_icon('paint', 48)}} Paint</h2>
    </div>
    <div class="row">
        {{=makeFormField(form, "manufacturer", FormFieldType.COLUMNS)}}
        {{=makeFormField(form, "brand", FormFieldType.COLUMNS, columns=0)}}
        {{=makeFormField(form, "color", FormFieldType.COLUMNS, columns=0)}}
    </div>
    <div class="row">
        {{=makeFormField(form, "colorid", FormFieldType.COLUMNS, columns=6)}}
        {{=makeFormField(form, "colorhex", FormFieldType.COLUMNS, columns=6)}}
    </div>
    <div class="row">
        {{=makeFormField(form, "img", FormFieldType.COLUMNS, columns=6)}}
        {{=makeFormField(form, "notes", FormFieldType.COLUMNS, columns=6)}}
    </div>
</div>

<div class="row bg-light fixed-bottom pl-5 p-2">
    {{=makeFormField(form, 'submit', fieldType=FormFieldType.COLUMNS)}}
    {{=makeFormDeleteButton(form)}}
</div>

{{=form.custom.end}}