{{extend 'layout.html'}}


<div class=" index-page">

    <div class="row">
        <h2>{{=controller_icon('wishlist', 48)}} Wishlist</h2>
    </div>

    {{if list:}}
    {{=convertform.custom.begin}}
    {{for item in list:}}

    <div class="row border-bottom py-1">
        <div class="col">
            <div class="row">
                <div class="col">
                    <span class="">{{=item.item }}</span>
                </div>
                <div class="col-3">
                    {{if item.notes:}}
                    <a class="btn btn-primary" data-toggle="collapse" href="#notes{{=item.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Notes
                    </a>
                    {{pass}}
                    <button class="btn btn-success" type="submit" value="found" name="{{=item.id}}" title="Create Model">{{=controller_icon('model', 16)}}</button>
                    <button class="btn btn-danger" type="submit" value="remove" name="{{=item.id}}" title="Delete Item">{{=action_icon('delete', 16)}}</button>
                </div>
            </div>
            <div class="row collapse" id="notes{{=item.id}}">
                <div class="col ml-2">
                    {{=item.notes}}
                </div>
            </div>
        </div>
    </div>

    {{pass}}
    {{=convertform.custom.end}}
    {{else:}}
    <div class="alert alert-dark" role="alert">You have no wishlist items. Add one below.</div>
    {{pass}}

    {{=addform.custom.begin}}
    <div class="row mt-2">

        {{=makeFormField(addform, "item", FormFieldType.COLUMNS)}}
        {{=makeFormField(addform, "notes", FormFieldType.COLUMNS, columns=3)}}
        {{=makeFormField(addform, 'modelcategory', FormFieldType.COLUMNS, columns=3)}}
        <div class="col-2">{{=addform.custom.submit}}</div>
    </div>
    {{=addform.custom.end}}

</div>